{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "globals": {
        "window": true,
        "document": true,
        "console": true
    },
    "rules": {
        "no-console": "off",
        "no-undef": "off",
        "no-unused-vars": "off"
    }
}