@mixin active($color: #fff) {
    @content;
    border: 1px dashed $color;
}
$active-color: #ff0000;
.active{
    @include active($active-color){color: $active-color};
}
.ul-luck{
    width: 500px;
    > li{
        width: 200px;
        display: inline-block;
    }
}