* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

.table-main {
    margin: 0 auto;
    height: auto;
    width: 900px;
    position: relative;
}

.moveul {
    position: relative;
    height: 50px;
    margin-left: -10px;
    padding-bottom: 10px;
    li {
        margin-left: 10px;
        font-size: 16px;
        padding: 0 10px;
        height: 33px;
        padding-bottom: 10px;
        color: #333333;
        background-color: #999999;
        text-align: center;
        float: left;
        cursor: pointer;
        transition: color .5s;
        &.active{
            color: red;
            border: none;
        }
    }
}


#slidebar {
    height: 2px;
    width: 0;
    background: #993300;
    position: absolute;
    // left: 0px;
    // top: 50px;
    opacity: 0;
    transition: all .5s; //设置过度时间为0.5秒，all是设置所有的过度属性，如果只想让width有过度效果，只需要transition: width .5s;
    //transition: all .5s cubic-bezier(.45, 1.92, .9, 1.54); 
}

.animatemove {
    left: 150px;
}

.display-content-lists{
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-color: #f8f8f8;
    .item{
        width: 100%;
        height: 100%;
        display: none;
        &.show{
            display: block;
        }
    }
}
.ul-slide-wrap{
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-color: #f8f8f8;
    .content-lists{
        position: absolute;
        width: 30000px;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
        //transition: left 0.5s;
        .item{
            width: 800px;
            height: 100%;
            float: left;

        }
    }
}